<div
  class="flex h-96"
>

  <div
    class="h-80 flex
           lg:translate-y-4 2xl:-translate-x-20"
  >
    <span
      class="font-bold -rotate-[21deg] z-40 text-9xl
             translate-x-4 translate-y-7
             md:translate-x-16 md:translate-y-[3.4rem]
             lg:translate-y-[5.828rem] lg:translate-x-1"
    >
     Y
    </span>
    <div
      class="lg:-translate-x-32 lg:translate-y-1.5"
    >
      <div
        class="md:w-[15rem] lg:w-[32rem]"
      >
        <div
          class="absolute bg-black h-24 rounded-r-lg z-30 shadow-[0px_5px_10px_rgba(255,85,85,0.5)]
                 w-[15rem] left-14
                 md:w-[25rem] -rotate-[20deg] md:left-[6.2rem]
                 lg:left-16 lg:w-[37rem]"
        >
        </div>
        <div
          class="absolute h-24 z-20 rounded-l-lg shadow-[5px_5px_10px_rgba(0,0,0,0.5)]
                 w-[13rem] left-[6.8rem] translate-y-[4.5rem] -rotate-[63deg]
                 md:w-[20rem] md:left-[12.89rem] md:translate-y-[3.9rem] md:-rotate-[55deg]
                 lg:w-[24rem] lg:left-[18rem] lg:translate-y-12 lg:-rotate-45
                "
          style="background-color: #FF5555; background-image: url('/noise.png'); background-blend-mode: multiply; background-size: cover;"
        >

        </div>
        <div
          class="absolute h-24 rounded-lg z-0 shadow-2xl
                 w-52 translate-y-[8.5rem] left-[12.6rem]
                 md:w-60 md:left-[19.5rem] md:translate-y-[10.5rem]
                 lg:w-72 lg:left-[23.2rem] lg:translate-y-[10.3rem]
                "
          style="background-color: #FF5555; background-image: url('/noise.png'); background-blend-mode: multiply; background-size: cover;"
        >
        </div>
      </div>
    </div>

  </div>
</div>


<div
  class="absolute z-40 -rotate-[20deg]
         w-[15rem] translate-x-[3rem] -translate-y-[22.5rem]
         md:w-[23rem] md:p-2 md:translate-x-[6.5rem] md:-translate-y-[23rem]
         lg:translate-x-16 lg:p-4 lg:w-[32rem] lg:-translate-y-[22rem]"
>
  <div
    class="flex justify-between items-center w-full h-10 text-white"
  >
    @for (element of elements; track $index ){
      <div
        class="rounded-full border border-red-400
               w-4 h-4
               md:w-6 md:h-6 lg:w-8 lg:h-8"
      ></div>
      <div
        class="flex flex-col
               text-[8px] w-20
               md:text-[10px] md:w-28 lg:w-max lg:text-xs
              "
      >
          <span
            class="font-semibold"
          >
            {{ element.title }}
          </span>
        <span
          class="font-medium"
        >
            {{ element.description }}
          </span>
      </div>
      <span
        class="text-3xl lg:text-4xl font-extralight"
      >
          {{ element.separator }}
      </span>
    }
  </div>
</div>

<span
  class="font-bold absolute z-20
         -rotate-[63deg] text-[10px] translate-x-[6rem] -translate-y-[18rem]
         md:-rotate-[55deg] md:text-xs md:translate-x-[13rem] md:-translate-y-[17.5rem]
         lg:-rotate-45 lg:text-sm lg:translate-x-[18rem] lg:-translate-y-72
        "
>
  Tu Ne Verras Plus Les Restaurants Comme Avant.
</span>
