<div
  class="border border-fuchsia-400 h-80 flex "
>
  <span
    class="font-bold text-9xl -rotate-[20deg] translate-y-[5.1rem] translate-x-16 z-40"
  >
    Y
  </span>
  <div
    class="border border-lime-600 w-[32rem]"
  >
    <div
      class="absolute bg-black w-[35rem] h-24 left-[5.8rem] -rotate-[20deg] rounded-r-lg z-30 shadow-[0px_5px_10px_rgba(255,85,85,0.5)]"
    >
    </div>
    <div
      class="absolute h-24 w-[27rem] -rotate-45 z-20 left-[15.48rem] translate-y-16 rounded-l-lg shadow-[5px_5px_10px_rgba(0,0,0,0.5)]"
      style="background-color: #FF5555; background-image: url('/noise.png'); background-blend-mode: multiply; background-size: cover;"
    >

    </div>
    <div
      class="absolute left-[21.8rem] translate-y-[17.4rem] w-0 h-0 z-10"
      style="
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #FF5555;
      transform: rotate(-45deg);
    "
    ></div>
    <div
      class="absolute h-24 w-72 left-[21.5rem] translate-y-[12.45rem] rounded-r-lg z-0 shadow-2xl"
      style="background-color: #FF5555; background-image: url('/noise.png'); background-blend-mode: multiply; background-size: cover;"
    >

    </div>
  </div>
</div>
