<div
  class="flex lg:w-[35rem] lg:h-[35rem] relative transform-3d border border-amber-300
         md:w-[26.25rem] md:h-[26.25rem]
         sm:w-[21.875rem] sm:h-[21.875rem]
         xs:w-[9rem] xs:h-[9rem]"
>
  <div
    class="absolute m-4 rounded-full w-full h-full border border-black rotate-x-[35deg] rotate-y-35 top-0 left-0 sm:left-0 sm:-top-3
           xs:top-2 xs:-left-3"
  >
    &nbsp;
  </div>
  <div
    class="absolute mb-6 rounded-full w-full h-full border border-black rotate-x-[35deg] rotate-y-35 sm:-top-3 lg:left-12
           sm:left-10 xs:top-0 xs:left-4"
  >
    &nbsp;
  </div>
  <div
    class="absolute rounded-full w-full h-full border border-black rotate-x-[35deg] rotate-y-35 sm:-top-8 lg:left-[5rem]
           sm:left-[4rem] xs:-top-4 xs:left-8"
  >
    &nbsp;
  </div>
</div>
