<div
  class=""
>

  <div
    class="absolute"
  >
    <app-ellipse></app-ellipse>
  </div>

  <div
    class="lg:translate-x-40 -translate-y-8 lg:w-[28.125rem] h-[44.0625rem] relative
           md:translate-x-32 md:w-[21rem] xl:[30rem]
           sm:w-[17.5rem] sm:translate-x-28 sm:-translate-y-8
           xs:w-[8.75rem] xs:translate-x-8 xs:-translate-y-5"
  >
    <img ngSrc="/iPhone-13-Pro-Front.svg" alt="phone image. "
         height="705" width="450"
         class="w-full"
    >
  </div>
</div>
