@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";



*{
  font-family: Raleway, sans-serif;
}

body{
  display: flex;
  width: 100%;
  border: 1px solid maroon;

}

.app-container{
  max-width: 1280px;
  margin: auto;
}

@theme{

  /*colors*/
  --color-active : '#F14237';

  /*fonts*/
  --font-raleway: 'Raleway', sans-serif;

  /*breakpoints*/
  --breakpoint-xs: 20rem;
  --breakpoint-3xl: 100rem;
  --breakpoint-4xl: 120rem;


}
